* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "SpaceMono";
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    vertical-align: middle;
    object-fit: cover;
}